import telebot

# Замените 'YOUR_BOT_TOKEN' на токен вашего бота
TOKEN = '6718544003:AAHK4KieiDikB4cNIE2HKhlqiwomdEgKfh0'

# Создание экземпляра бота
bot = telebot.TeleBot(TOKEN)

# Обработчик команды /start
@bot.message_handler(commands=['start'])
def start(message):
    bot.send_message(message.chat.id, "Привет! Я бот-лотерея. Для начала игры отправь мне сообщение с текстом /play.")

# Обработчик команды /play
@bot.message_handler(commands=['play'])
def play(message):
    bot.send_message(message.chat.id, "Ты начал новую игру! Возьми участие в лотерее, напиши число от 1 до 100, которое ты выбираешь.")

# Обработчик текстовых сообщений с числом
@bot.message_handler(func=lambda message: True)
def handle_message(message):
    try:
        number = int(message.text)
        if 1 <= number <= 100:
            bot.send_message(message.chat.id, f"Ты выбрал число {number}. Подожди, чтобы узнать результат.")
            # Здесь можно добавить код для определения победителя и отправки результатов
        else:
            bot.send_message(message.chat.id, "Пожалуйста, введите число от 1 до 100.")
    except ValueError:
        bot.send_message(message.chat.id, "Пожалуйста, введите число от 1 до 100.")

# Запуск бота
if __name__ == "__main__":
    bot.polling(none_stop=True)
